body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   font-size:  14px;
}

.wrapper {
  width: 960px;
  margin: 60px auto;
}

.num-text {
  font-size: 24px;
  font-weight: bold;
  color: navy;
  text-align: center;
  margin: 0 auto;
}

input#text {
  font-size: 24px;
  font-weight: bold;
  color: navy;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 50%;
}

/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper {
  width: 100%;
  margin: 60px auto;
}

.list {
  width: 25%;
  float: left;
}

.display {
  width: 75%;
  float: left;
}


/* Dog List
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#dog-list {
  list-style: none;
  overflow: scroll;
}

#dog-list li {
  cursor: pointer;
  margin: 15px auto;
}

/* Dog Display
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.display {text-align: center;}
